//imports
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

//resets
*,
*:before,
*:after {
	box-sizing: border-box;
}
html,
body {
	align-items: center;
	display: flex;
	justify-content: center;
	overflow: hidden;
	width: 100%;
	height: 100vh;
}
a {
	cursor: pointer;
}
canvas { 
	display: block; vertical-align: bottom; 
}
ol,
ul {
	list-style-type: none;
	margin: 0 0 15px;
}

//global
.wrap {
	position: relative;
		z-index: 5;
	text-align: center;
}
.main {
	transition: all 500ms ease;
}

//main
#particles {
	background-color: #fff;
	position: absolute;
		left: 0;
		top: 0;
		// z-index: -1;
	width: 100%;
	height: 100%;
	// background-image: url("");
	// background-repeat: no-repeat;
	// background-size: cover;
	// background-position: 50% 50%;
}
.logo {
	display: block;
	margin: 0 auto 30px;
	position: relative;
	width: 150px;
	height: 150px;
}
h1 {
	color: #333;
	letter-spacing: 9px;
	font-size: 30px;
	line-height: 1;
	margin: 0 0 15px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
}
h2 {
	color: #999;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: normal;
	line-height: 1;
	letter-spacing: 1.5px;
	margin: 0;
	position: relative;
	text-align: center;
}

//footer
.social {
	font-size: 14px;
	position: absolute;
		right: 15px;
		bottom: 0;
	
	li {
		float: left;
		line-height: 1;
		margin-left: 7px;
		
		&:first-child {
			margin-left: 0;
		}
	}
	a {
		color: #999;
		font-weight: normal;
		letter-spacing: 1.5px;
		text-decoration: none;
		transition: color 250ms ease;
		
		&:hover {
			color: #333;
		}
	}
}

//views
.view {
	padding: 15px;
	position: absolute;
		top: 0;
		left: 0;
	width: 100%;
		max-width: 250px;
	height: 100%;
}
.fade-transition {
	background: #222;
	color: #fff;
	font-size: 13px;
	padding: 30px 15px;
	position: absolute;
	top: 0; 
	left: 0;
	z-index: 10;
	width: 100%;
	max-width: 320px;
	height: 100%;
	transition: all 500ms ease;
	
	h2 {
		color: #fff;
		font-size: 16px;
		line-height: 1;
		margin: 0 0 30px;
	}

	& ~ .main {
		transform: translate(125px, 0);
	}
	&.fade-enter,
	&.fade-leave {
		transform: translate(-320px, 0);
		
		& ~ .main {
			transform: translate(0, 0);
		}
	}
}

//contact
form {
	label {
		display: none;	
	}
	input,
	textarea {
		border: 0;
		display: block;
		margin: 0 0 15px;
		outline: none;
		padding: 15px 10px;
		resize: vertical;
		width: 100%;
	}
	textarea {
		max-height: 320px;
		min-height: 120px;
	}
	input[type="submit"] {
		color: #333;
		cursor: pointer;
		letter-spacing: 1.5px;
		line-height: 1;
		text-transform: uppercase;
		transition: all 250ms ease;
		font-weight: 700;
		margin: 0 0 15px;
	}
}

//exit
.exit {
	background: pink;
	position: absolute;
		bottom: 0;
		left: 0;
	width: 100%;
	height: 35px;
	
	a {
		align-items: center;
		background: yellow;
		display: flex;
		justify-content: center;
		position: absolute;
			right: 0;
		text-decoration: none;
		font-size: 22px;
		width: 35px;
		height: 35px;
	}		
}